NODE_ENV=development
API_PORT=3000
DATABASE_URL=postgresql://cloudops:cloudops_dev_password@localhost:5432/cloudops
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me_in_production_use_long_random_string
JWT_EXPIRES_IN=1d
VAULT_ADDR=http://localhost:8200
VAULT_TOKEN=root
JENKINS_URL=http://localhost:8080
CORS_ORIGIN=http://localhost:4200
LOG_LEVEL=debug
ENCRYPTION_KEY=change_me_32_characters_minimum!!
